* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(229, 242, 247);
  animation: start 1s ease-in-out;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  cursor: pointer;
}

.kick-pad {
  background: rgb(135, 197, 255);
}

.snare-pad {
  background: rgb(255, 135, 135);
}

.hihat-pad {
  background: rgb(228, 143, 224);
}

.kick-pad.active {
  background: rgb(64, 130, 192);
}

.snare-pad.active {
  background: rgb(214, 49, 49);
}

.hihat-pad.active {
  background: rgb(153, 26, 147);
}

.sequencer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls button,
.play,
select {
  border: none;
  outline: none;
  background: rgb(87, 85, 85);
  color: white;
  cursor: pointer;
}

.controls button {
  padding: 0.5rem;
  font-size: 0.8rem;
  margin-top: 1rem;
}

select {
  padding: 0.2rem;
  box-shadow: 2px 2px 6px grey;
}

.play {
  padding: 0.5rem 2rem;
  font-size: 0.9rem;
  margin: 2rem;
  box-shadow: 2px 2px 6px grey;
}

.pad {
  transition: all 0.5s ease;
}

.pad.active {
  box-shadow: 2px 2px 6px grey;
}

.mute {
  transition: all 0.3s ease;
}
.mute.active {
  color: rgb(87, 85, 85);
  background: rgb(177, 176, 176);
  box-shadow: 2px 2px 6px grey;
}

@keyframes playTrack {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
